/*
    PyMedical linux 版本 css 樣式表
    2018-02-07
*/

/**************************************************************************************
 所有程式 樣式表
**************************************************************************************/
* {
	font-size: 18px;
	font-weight: normal; /* system */
	font-family: "Microsoft JhengHei";
}

/**************************************************************************************
 主畫面 樣式表 灰色
**************************************************************************************/
#frameSidebar {
    background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #6b6b6b, stop: 1 #abacad);
    border: none;
    /* border-right: 1px solid black; */
    border-right: 1px;
}

#label_title {
    color: white;
    font: 18px;
}

#label_eng_title {
    color: white;
    font: 12px;
}

QFrame.SidebarFrame {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 1px solid black;
    background: QLinearGradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #4f5051,
        stop: 0.1 #0a0a0a
    );
}

QFrame.SidebarInnerFrame {
    background: QLinearGradient(
        x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0 #eef,
        stop: 1 #bfbfbf);
    border: none;
    border-top: 1px solid black;
}

QFrame.SidebarFrame QLabel {
    color: white;
    font-weight: bold;
}

/**************************************************************************************
 病歷資料 樣式表
**************************************************************************************/
/*
#textEdit_symptom, #textEdit_tongue, #textEdit_pulse {
    background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #eef, stop: 1 #ccf);
}
*/

/*
#textEdit_remark {
	background: QLinearGradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #eef, stop: 1 #ccf);
}
*/

