# Project exclude paths
*.bat
*.conf
*.db
*.db-journal
*.db-shm
*.db-wal
*.env
*.ini
*.log
*.pyc
*.sqlite
*.zip
*診所*.json
bq.conf
mingi.conf
pymedical.conf
pymedical.json
pybulletin.win32.bat
sync_dropbox
version.txt
__pycache__/
.idea/
.vscode/
_temp/
cfg/
git_core/
install/
documents/
history/
PortableGit/
venv/