# Project exclude paths
*.conf
*.db
*.db-journal
*.db-shm
*.db-wal
*.env
*.exe
*.ini
*.log
*.pyc
*.sqlite
*診所*.json
pymedical.json
__pycache__/
.idea/
*.zip
.vscode/
_temp/
cfg/
git_core/
install/
documents/
history/
venv/