# Project exclude paths
*.bat
*.conf
*.db
*.db-journal
*.db-shm
*.db-wal
*.env
*.ini
*.log
*.pyc
*.sqlite
*.zip
*診所*.json
pymedical.json
pymedical.win32.bat
__pycache__/
.idea/
.vscode/
_temp/
cfg/
git_core/
install/
documents/
history/
venv/